[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/Rutdh/googletest.git
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/Rutdh/gflags.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/Rutdh/glog.git
[submodule "learn_cxx_by_projects"]
	path = learn_cxx_by_projects
	url = https://github.com/Rutdh/learn_cxx_by_projects.git
